.course_card{
  margin-bottom: 30px;
  .course_card--cover{
    img{
      width: 100%;
      padding-right: 10px;
    }
  }
  .course_card--heading{
    h3{
      font-size: 15px;
      font-weight: 500;
      color: #222222;
    }
  }
  .course_card--desc{
    p{
      font-size: 11px;
      font-weight: 400;
      line-height: 18px;
      color: #666666;
    }
  }
  .course_card--btn{
    a{
      display: block;
      color: #4C9DED;
      font-weight: 500;
      margin: 0;
    }
  }
}