.review_card{
  text-align: center;
  .review_avatar img{
    width: 80px;
    margin: 0 auto;
  }
  .review_name{
    h3{
      font-size: 20px;
      margin: 20px 0;
    }
  }
  .review_desc{
    p{
      color: #666666;
    }
  }
}